<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <div class="sidebar">
            <h1>TaskMaster</h1>
            <div class="menu-item dashboard-item">Dashboard</div>
            <div class="menu-item">Mis Tareas</div>
            <div class="menu-item">Calendario</div>
            <div class="menu-item">Proyectos</div>
            <div class="menu-item">Equipos</div>
            <div class="menu-item">Configuración</div>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="header">
                <input type="text" class="search" placeholder="Buscar tareas...">
                <button class="add-task" onclick="ShowHideCreateTask()">+ Nueva Tarea</button>
            </div>
            <div class="task-grid">
                <div id="column-ToDo" class="task-column">
                    <div class="column-header">Por Hacer</div>

                </div>

                <div id="column-InProgress" class="task-column">
                    <div class="column-header">En Progreso</div>

                </div>

                <div id="column-Done" class="task-column">
                    <div class="column-header">Completado</div>

                </div>

            </div>
        </div>

        <!-- Create Task Modal -->
        <div class="create-Task-Container" style="visibility: hidden;" onclick="HideOnBackgroundClick(event)">
            <div class="create-task">
                <div class="task-header">
                    <h2>Crear Nueva Tarea</h2>
                </div>
                <div class="task-body">
                    <input class="create-task-title txt-task" type="text" placeholder="Título de la tarea">
                    <select class="create-task-category txt-task">
                        <option value="Personal">Personal</option>
                        <option value="Estudios">Estudios</option>
                        <option value="Trabajo">Trabajo</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <textarea class="create-task-description txt-task" placeholder="Descripción de la tarea"></textarea>
                    <input class="create-task-date txt-task" type="date">
                    <select class="create-task-priority txt-task">
                        <option value="Baja">Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                    </select>
                </div>
                <div class="task-footer">
                    <button class="btn-task btn-create-task">Guardar</button>
                </div>
            </div>
        </div>
        <!-- Update Task Modal -->
        <div class="update-Task-Container" style="visibility: hidden;" onclick="HideOnBackgroundClick(event)">
            <div class="update-task">
                <div class="task-header">
                    <h2>Actualizar Tarea</h2>
                </div>
                <div class="task-body">
                    <input class="update-task-title txt-task" type="text" placeholder="Título de la tarea">
                    <select class="update-task-category txt-task">
                        <option value="Personal">Personal</option>
                        <option value="Estudios">Estudios</option>
                        <option value="Trabajo">Trabajo</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <textarea class="update-task-description txt-task" placeholder="Descripción de la tarea"></textarea>
                    <input class="update-task-date txt-task" type="date">
                    <select class="update-task-priority txt-task">
                        <option value="Baja">Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                    </select>
                    <select class="update-task-status txt-task">
                        <option value="Pendiente">Pendiente</option>
                        <option value="En Proceso">En Proceso</option>
                        <option value="Completada">Completada</option>
                    </select>
                </div>
                <div class="task-footer">
                    <button class="btn-task btn-update-task">Actualizar</button>
                    <button class="btn-task btn-delete-task">Eliminar</button>
                </div>
            </div>
        </div>

    </div>
    <script src="../static/js/dashboard.js"></script>
</body>

</html>