<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<body>
    <div class="dashboard">
        <div class="sidebar">
            <h1>TaskMaster</h1>
            <div class="menu-item">Dashboard</div>
            <div class="menu-item">Mis Tareas</div>
            <div class="menu-item">Calendario</div>
            <div class="menu-item">Proyectos</div>
            <div class="menu-item">Equipos</div>
            <div class="menu-item">Configuración</div>
        </div>
        <div class="main-content">
            <div class="header">
                <input type="text" class="search" placeholder="Buscar tareas...">
                <button class="add-task" onclick="ShowHideCreateTask">+ Nueva Tarea</button>
            </div>

            <div class="task-grid">
                
            </div>
        </div>

        <div class="div-create-task">
            <div class="create-task" ">
                <div class="task-header">
                    <h2>Crear Nueva Tarea</h2>
                </div>
                <div class="task-body">
                    <input type="text" class="task-title txt-task" placeholder="Título de la tarea">
                    <select class="task-category txt-task">
                        <option value="low">Personal</option>
                        <option value="medium">Estudios</option>
                        <option value="high">Trabajo</option>
                        <option value="high">Otro</option>
                    </select>
                    <textarea class="task-description txt-task" placeholder="Descripción de la tarea"></textarea>
                    <input type="date" class="task-date txt-task">
                    <select class="task-priority txt-task">
                        <option value="low">Baja</option>
                        <option value="medium">Media</option>
                        <option value="high">Alta</option>
                    </select>
                </div>
                <div class="task-footer">
                    <button class="save-task">Guardar</button>
                </div>
            </div>

        </div>

        <script src="../static/js/dashboard.js"></script>
</body>

</html>